.App {
  background-color: white;
  height: 100vh;
}

.App-logo {
  height: 80px;
  pointer-events: none;
}
.ComponentRow{
  margin: 0 !important;
  height: 90%;
}
.sideBar{
  background-color: #282c34;
  width: 200px !important;
  padding: 0 !important;
}
.contentPage{
  height: 100vh;
  background-color: wheat;
}
.navRows{
  margin: 0 !important;
}
.btn-dark:focus {
  /* outline: none; */
  box-shadow: none;
}
.btn-dark{
  display: flex;
  align-items: center;
  justify-content: center;
}
.componentsCol{
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
